<!-- Rendered by dashboard-controller.js-->
<%- include('./layout.ejs') %>
<link rel="stylesheet" href="/public/styles/dashboard.css" />
<script src="/public/js/new-file.js" type="module" defer></script>
<script src="/public/js/new-folder.js" type="module" defer></script>
<header>
  <a href="/" class="home-btn">Home</a>
  <form action="/logout" method="POST" aria-label="Logout">
    <button type="submit" aria-label="Logout" id="logout-btn">Logout</button>
  </form>
</header>
<main>
  <div class="user-actions">
    <div class="new-folder">
      <button id="new-folder-btn">New folder</button>
      <img src="<%= data.newFolder %>" alt="Upload icon" class="upload-icons" />
    </div>
    <div class="new-file">
      <button id="new-file-btn">New file</button>
      <img
        src="<%= data.uploadfile %>"
        alt="New folder icon"
        class="upload-icons"
      />
    </div>
  </div>
  <section class="folders-and-files">
    <div class="folders-section">
      <h3>Folders</h3>
      <div class="folders-container">
        <% if (data.subfolders.length !== 0) { %> <%
        data.subfolders.forEach((folder) => { %>
        <div class="folder">
          <a href="/dashboard/folders/<%= folder.id %>">
            <img
              src="<%= data.folderIcon %>"
              alt="Folder icon"
              class="folder-icon"
            />
            <span class="folder-name"><%= folder.name %></span>
          </a>
        </div>
        <% }) %> <% } %>
      </div>
    </div>
    <div class="files-section">
      <h3>Files</h3>
      <div class="files-container">
        <% if (data.files.length !== 0) { %> <% data.files.forEach((file) => {
        %>
        <div class="file">
          <a href="/files/<%= file.id %>">
            <img src="<%= file.svg %>" alt="File" class="icon" />
            <span class="file-name"><%= file.name %></span>
          </a>
        </div>
        <% }) %> <% } %>
      </div>
    </div>
    <!-- New file dialog -->
    <dialog id="new-file-dialog">
      <form action="" method="POST" id="upload-file-form">
        <input
          type="file"
          name="upload-file"
          id="upload-file"
          style="display: none"
        />
        <label for="upload-file">Click here to choose file</label>
        <div id="file-details">No file selected</div>
        <button type="submit" aria-label="Submit file">Upload file</button>
      </form>
    </dialog>
    <!-- New folder dialog -->
    <dialog id="new-folder-dialog">
      <form id="new-folder-form">
        <input type="text" id="folder-name" name="folderName" required />
        <button type="submit">Add Folder</button>
      </form>
    </dialog>
  </section>
</main>
