<!-- Rendered by dashboard-controller.js-->
<%- include('./layout.ejs') %>
<script src="/public/js/new-file.js" type="module" defer></script>
<script src="/public/js/new-folder.js" type="module" defer></script>
<main>
  <h1>Welcome to dashboard</h1>
  <form action="/logout" method="POST" aria-label="Logout">
    <button type="submit" aria-label="Logout" id="logout-btn">Logout</button>
  </form>
  <aside>
    <a href="/">
      <div class="home-btn">Home</div>
    </a>
    <div><button id="new-folder-btn">New folder</button></div>
    <div><button id="new-file-btn">New file</button></div>
  </aside>
  <section>
    <div class="files-section">
      <% if (data.files.length !== 0) { %> <% data.files.forEach((file) => { %>
      <div>
        <span><%= file.name %></span>
        <form action="/download" method="POST">
          <input type="hidden" name="fileId" value="<%= file.id %>" />
          <button type="submit">Download</button>
        </form>
      </div>
      <% }) %> <% } %>
    </div>
    <div class="folders-section">
      <% if (data.subfolders.length !== 0) { %> <%
      data.subfolders.forEach((folder) => { %>
      <div>
        <a href="/dashboard/folders/<%= folder.id %>">
          <span><%= folder.name %></span>
        </a>
      </div>
      <% }) %> <% } %>
    </div>
    <!-- New file dialog -->
    <dialog id="new-file-dialog">
      <form action="" method="POST" id="upload-file-form">
        <input
          type="file"
          name="upload-file"
          id="upload-file"
          style="display: none"
        />
        <label for="upload-file">Choose file</label>
        <div id="file-details">No file selected</div>
        <button type="submit" aria-label="Submit file">Upload file</button>
      </form>
    </dialog>
    <!-- New folder dialog -->
    <dialog id="new-folder-dialog">
      <form id="new-folder-form">
        <input type="text" id="folder-name" name="folderName" required />
        <button type="submit">Add Folder</button>
      </form>
    </dialog>
  </section>
</main>
