<!-- Rendered by file-details -->
<link rel="stylesheet" href="/public/styles/file.css" />
<%- include('./layout.ejs') %>
<header>
  <a href="/" class="home-btn">Home</a>
  <form action="/logout" method="POST" aria-label="Logout">
    <button type="submit" aria-label="Logout" id="logout-btn">Logout</button>
  </form>
</header>
<main class="file-details">
  <img src="<%= svg %>" alt="File icon" />
  <div>
    <h1 class="name"><%= name %></h1>
    <h2 class="created">Created: <%= createdAt %></h2>
    <h3 class="size">Size: <%= size %></h3>
    <form action="/download" method="POST">
      <input type="hidden" name="fileId" value="<%= id %>" />
      <button type="submit">Download</button>
    </form>
  </div>
</main>
